.contents {
  margin-top: 100px !important;
}

.title {
  margin-top: 100px;
}

.buttons {
  height: 45px;
  border: 1px solid #9b9b9b;
  background-color: #fff;
  color: #9b9b9b;
}

.buttonsActive {
  height: 45px;
  border: none;
  background-color: #db3022;
  color: #fff;
}
