.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  width: 44px;
  height: 37px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src//assets/images/nextbutton.svg');
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  width: 44px;
  height: 37px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src//assets/images/prevbutton.svg');
}

.swiper-button-prev::after {
  display: none;
}
