.menu {
  list-style: none;
  color: #9b9b9b;
  font-family: 'Metropolis';
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4rem;
}

.text {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  margin-top: 3rem;
}
.links {
  text-decoration: none;
}

.p {
  color: #9b9b9b;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.menus {
  margin-top: 5rem;
}
