.address-desc,
.item-co-user,
.summary-wrapper {
    border: 5px solid #d4d4d455;
    border-radius: 5px;
    /* box-shadow: inset(); */
}

.button-custom-address {
    border: 2px solid #d4d4d455 !important;
    border-radius: 25px !important;
}

.break-line {
    border: 1px solid #9b9b9b99 ;
}

.button-custom-payment {
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
}
.w-80 {
    width: 80%!important;
}

.button-add-new-address {
    height: 100px;

}



.button-ca {
    background: none !important;
    outline: none;
    border:none;
}

.container-content {
    border: 2px solid #DB3022;
}

.button-submit-custom {
    color: white;
    height: 50px;
    width: 200px !important;
    border: none;
    outline: none;
    border-radius: 25px;
}

.button-cancel-custom {
    color: white;
    background: none;
    height: 50px;
    width: 200px !important;
    border: 2px solid rgb(135, 135, 135);
    outline: none;
    border-radius: 25px;
}
@media (max-width: 576px) {
    .col-xs-1 {
        flex: 0 0 auto !important;
        width: 8.33333333% !important;
    }
    .col-xs-2 {
        flex: 0 0 auto !important;
        width: 16.66666667% !important;
    }
    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xs-4 {
        flex: 0 0 auto !important;
        width: 33.33333333% !important;
    }
    .col-xs-5 {
        flex: 0 0 auto !important;
        width: 41.66666667% !important;
    }
    .col-xs-6 {
        flex: 0 0 auto !important;
        width: 50% !important; 
    }
    .col-xs-7 {
        flex: 0 0 auto !important;
        width: 58.33333333% !important;
    }
    .col-xs-8 {
        flex: 0 0 auto !important;
        width: 66.66666667% !important;
    }
    .col-xs-9 {
        flex: 0 0 auto  !important;
        width: 75% !important;
    }
    .col-xs-10 {
        flex: 0 0 auto !important;
        width: 83.33333333% !important;
    }
    .col-xs-11 {
        flex: 0 0 auto !important;
        width: 91.66666667% !important;
    }
    .col-xs-12 {
        flex: 0 0 auto !important;
        width: 100% !important; 
    }
    .button-cancel-custom, .button-submit-custom {
        width: 100px !important;
    }
   }

