.border {
  border: 3px solid black;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  height: 80vh;
  border-radius: 20px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.photo {
  border-radius: 50%;
}

.chat {
  padding: 1rem 0;
  font-size: 30px;
}

.image {
  border-radius: 50%;
}

.inputRow {
  margin-top: 23rem;
  margin-left: 2rem;
}
.inputLive {
  width: 94%;
  height: 40px;
  border-radius: 20px;
  display: flex;
  border: 2px solid black;
}

/* /////////////////////////////// */
.chatContact{
  margin: 0.5rem 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 62vh;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  background-color: #F6F6F6;
}

.imgFit{
  object-fit: fill;
  min-width: 45px;
  min-height: 45px;
}

.chatInfo{
  min-width: 190px;
  width: 190px;
}

.bgRed{
  background-color: red;
}

.chatIn{
  height: 20px;
  padding: 0 0.4rem;
  font-size: 12px;
  border-radius: 10px;
  max-width: 35px;
}

.chatMessage{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 52vh;
}

.msgBox{
  height: 70px;
  width: 100%;
}

.sendMessage{
  height: 40px;
  border-radius: 10px;
}

#sendMessage{
  min-width: 300px;
  width: 100%;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
}

.chatName{
  font-size: 14px;
}

.chatSender{
  margin: 0.3rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px 25px 25px 5px;
  max-width: 500px;
}

.chatReceiver{
  margin: 0.3rem 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 25px 25px 5px 25px;
  max-width: 500px;
}

#chatTime{
  font-size: 12px;
}