.button-buy-customize {
    outline: none !important;
    border: none !important;
    height: 50px !important;
    width: 150px !important;
    border-radius: 25px;
}


@media (max-width: 576px) {
    .responsive-select-payment {
        max-width: 100% !important; 
   }
}

@media (min-width: 576px) {
    .responsive-select-payment {
        max-width: 80% !important; 
   }
}


@media (min-width: 776px) {
    .responsive-select-payment {
        max-width: 50% !important; 
   }
}


@media (min-width: 976px) {
    .responsive-select-payment {
        max-width: 50% !important; 
   }
}